@media screen and (max-width: 555px)
{
    .top_menu
    {
        display: none;
    }  
    
    .button_menu
    {
        display: block;
    }
    
    .button_menu ul
    {

        height: 50px;
    }
    
    .button_menu:hover
    {
        color: rgb(245,245,245);
        background-color: rgb(21,169,140);
        transition: 0.6s ease;
    }
    
    .button_menu :hover ul
    {
        display: block;
    }
}

@media screen and (max-width: 1350px)
{
    .favorite_movies_title
    {
        text-align: center;
    }
    
    .movie_picture,
    .movie_title,
    .movie_text
    {
        max-width: 450px;
    }

    .movie_description
    {
        max-width: 450px;
        margin: 0 auto 50px;
    }

    .fav_movies_container
    {
        text-align: left;
    }
    
    .all_movies_button
    {
        margin: 30px auto 0;
    }
}
