*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

a
{
    text-decoration: none;
}

.clear
{
    clear: both;
}

label, form, input
{
    display: inline-block;
    text-align: left;
}

/*div
{
    border: solid;
    border-width: 1px;
}